<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.permission.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.permission.SysRolePo">
        <id column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="name" property="name"/>
        <result column="del_flag" property="delFlag"/>
        <result column="default_role" property="defaultRole"/>
        <result column="description" property="description"/>
        <result column="data_type" property="dataType"/>
        <result column="level" property="level"/>
        <result column="system_type" property="systemType"/>
        <result column="store_id" property="storeId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, name, del_flag, default_role, description, data_type, level, system_type, store_id
    </sql>

    <!--分页条件查询角色信息-->
    <select id="searchRole" resultType="com.track.data.vo.permission.role.SearchRoleVo">
       select *
       from sys_role
       where del_flag = 0
        <if test="name !=null and name != ''">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="level !=null">
            and level = #{level}
        </if>
    </select>
    <select id="getPermission" resultType="com.track.data.vo.permission.role.GetRolePermissionVo">
        select sp.id,sp.`name`,sp.parent_id,sp.title,srp.role_id
        from sys_role_permission srp
        INNER JOIN	sys_permission sp on srp.permission_id = sp.id and sp.del_flag = 0
        where srp.del_flag = 0 and srp.role_id = #{roleId}
    </select>

</mapper>
