<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.ticket.OmSceneRelGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.ticket.OmSceneRelGradePo">
        <id column="id" property="id" />
        <result column="ticket_id" property="ticketId" />
        <result column="scene_id" property="sceneId" />
        <result column="grade_id" property="gradeId" />
        <result column="remaining_sum" property="remainingSum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scene_id, grade_id, remaining_sum
    </sql>
    <update id="closeOrderReturnStock">
        UPDATE om_scene_rel_grade SET remaining_sum = remaining_sum + #{orderNum}  WHERE id = #{id}
    </update>
    <update id="orderRefundReturnStock">
        UPDATE om_scene_rel_grade SET remaining_sum = start_sum WHERE scene_id = #{sceneId}
    </update>
    <select id="getSceneRelGradeInfoList" resultType="com.track.data.vo.applet.ticket.SceneRelGradeInfoVo">
        SELECT osrg.id AS relId, osrg.scene_id, osrg.grade_id, osrg.remaining_sum
        FROM om_scene_rel_grade osrg
        WHERE osrg.`ticket_id` = #{ticketId}
    </select>
    <select id="getRemainingSum" resultType="com.track.data.domain.po.ticket.OmSceneRelGradePo">
        SELECT osrg.id, osrg.grade_id, osrg.scene_id, osrg.remaining_sum
        FROM om_scene_rel_grade osrg
        WHERE osrg.id = #{relId}
        FOR UPDATE
    </select>
    <select id="getInsertRelInfo" resultType="com.track.data.domain.po.ticket.OmSceneRelGradePo">
        SELECT ot.id AS ticketId,
            ots.id AS sceneId,
            otg.id AS gradeId,
            SUM(seat.seat_sum) AS remainingSum,
            SUM(seat.seat_sum) AS startSum
        FROM om_ticket ot
        INNER JOIN om_ticket_scene ots ON ots.ticket_id = ot.id AND ot.id= #{ticketId}
        INNER JOIN om_ticket_grade otg ON otg.ticket_id = ot.id
        INNER JOIN om_ticket_seat seat ON seat.grade_id = otg.id
        GROUP BY ot.id, ots.id, otg.id
    </select>
    <select id="getCommodityAttr" resultType="com.track.data.vo.applet.ticket.CommodityAttrVo">
        SELECT osrg.id AS priceId,
            otg.`sell_price` AS price,
            osrg.remaining_sum AS stock,
            ots.id AS sceneId,
            ots.`name` AS sceneName,
            otg.id AS gradeId,
            otg.`name` AS gradeName
        FROM om_ticket ot
        INNER JOIN om_scene_rel_grade osrg ON ot.id = osrg.ticket_id AND ot.id = #{ticketId}
        INNER JOIN om_ticket_scene ots ON osrg.scene_id = ots.`id`
        INNER JOIN om_ticket_grade otg ON otg.id = osrg.`grade_id`
        WHERE ots.`start_time` > NOW()
        ORDER BY ots.`start_time` ASC
    </select>

</mapper>
