<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.ticket.OmSceneRelGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.ticket.OmSceneRelGradePo">
        <id column="id" property="id" />
        <result column="ticket_id" property="ticketId" />
        <result column="scene_id" property="sceneId" />
        <result column="grade_id" property="gradeId" />
        <result column="seat_id" property="seatId" />
        <result column="remaining_sum" property="remainingSum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scene_id, grade_id, remaining_sum
    </sql>
    <select id="getSceneRelGradeInfoList" resultType="com.track.data.vo.applet.ticket.SceneRelGradeInfoVo">
        SELECT osrg.scene_id, osrg.grade_id, SUM(osrg.remaining_sum) AS remainingSum
        FROM om_scene_rel_grade osrg
        WHERE osrg.`ticket_id` = #{ticketId}
        GROUP BY osrg.scene_id, osrg.grade_id
    </select>

</mapper>
