<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.ticket.OmSceneGradeRelSeatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.ticket.OmSceneGradeRelSeatPo">
        <id column="id" property="id" />
        <result column="rel_id" property="relId" />
        <result column="seat_id" property="seatId" />
        <result column="remaining_sum" property="remainingSum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rel_id, seat_id, remaining_sum
    </sql>
    <select id="getInsertRelSeatInfo" resultType="com.track.data.domain.po.ticket.OmSceneGradeRelSeatPo">
        SELECT osrg.ticket_id, osrg.id AS relId, ots.id AS seat_id, ots.seat_sum AS remainingSum
        FROM om_scene_rel_grade osrg
        INNER JOIN om_ticket_seat ots ON ots.grade_id = osrg.grade_id AND osrg.ticket_id = #{ticketId}
    </select>
    <select id="selectByIdForUpdate" resultType="com.track.data.domain.po.ticket.OmSceneGradeRelSeatPo">
        SELECT id, ticket_id, rel_id, seat_id, remaining_sum
        FROM om_scene_grade_rel_seat
        WHERE id = #{id}
        FOR UPDATE
    </select>
    <select id="selectListForUpdate" resultType="com.track.data.domain.po.ticket.OmSceneGradeRelSeatPo">
        SELECT id, ticket_id, rel_id, seat_id, remaining_sum
        FROM om_scene_grade_rel_seat
        WHERE rel_id = #{relId}
        AND remaining_sum > 0
        FOR UPDATE
    </select>

</mapper>
