<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.ticket.OmTicketGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.ticket.OmTicketGradePo">
        <id column="id" property="id" />
        <result column="ticket_id" property="ticketId" />
        <result column="name" property="name" />
        <result column="sell_price" property="sellPrice" />
        <result column="row_sum" property="rowSum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scene_id, name, sell_price, remaining_sum
    </sql>
    <select id="getGradeIdsByTicketId" resultType="java.lang.Long">
        SELECT otg.id
        FROM om_ticket_grade otg
        WHERE otg.`ticket_id` = #{ticketId}
    </select>
    <select id="getTicketGradeBase" resultType="com.track.data.vo.applet.ticket.TicketGradeBaseVo">
        SELECT otg.`id` AS gradeId,
            otg.`name` AS gradeName,
            otg.`sell_price`
        FROM om_ticket_grade otg
        WHERE otg.`ticket_id` = #{ticketId}
        ORDER BY otg.`sell_price` ASC
    </select>

</mapper>
