<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.track.data.mapper.base.IBaseMapper">

    <select id="countById" resultType="java.lang.Integer">
        select count(1) from ${tableName} where
        del_flag=0 and
        ${field}=#{value}
        <if test="concatWhereSql!=null">
            ${concatWhereSql}
        </if>
    </select>
    <select id="findByUserName" resultType="java.util.Map">
        select id as 'id', name as '名字', age as '年龄', salary as '薪水'
        from tb_user
        where name like concat('%', #{username} ,'%')
    </select>

    <select id="findByUserNames" resultType="com.track.data.domain.po.test.TbUserPo">
        select *
        from tb_user
        where name like concat('%', #{username} ,'%')
    </select>

    <select id="findUserRoleByUserId" resultType="com.track.data.bo.user.permission.RoleBo">
        SELECT sr.id id, name, sr.data_type
        FROM sys_role_user sru
        LEFT JOIN sys_role sr ON sru.role_id = sr.id and sr.del_flag = 0
        WHERE sru.del_flag = 0 and user_Id = #{userId}
    </select>

    <select id="findPermissionByUserId" resultType="com.track.data.bo.user.permission.PermissionBo">
        select DISTINCT sp.id, sp.name, sp.title, sp.path, sp.icon, sp.type, sp.component, sp.level, sp.button_type,
             sp.parent_id, sp.sort_order, sp.description, sp.enabled, sp.url
        from sys_role_user sru
        inner join sys_role_permission srp on srp.role_id = sru.role_id
        inner JOIN sys_permission sp on sp.id = srp.permission_id
        where sru.user_id = #{userId} and sru.del_flag = 0 and srp.del_flag = 0 and sp.del_flag = 0 and sp.enabled = 1
        order by sp.sort_order ASC;
    </select>

</mapper>