<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.user.UmUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.user.UmUserPo">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="password" property="password" />
        <result column="photo" property="photo" />
        <result column="open_id" property="openId" />
        <result column="username" property="username" />
        <result column="user_type" property="userType" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phone, create_by, create_time, update_by, update_time, del_flag, nick_name, sex, password, photo, open_id, username, user_type, enabled
    </sql>
    <!-- 分页查询用户信息 -->
    <select id="searchUsers" resultType="com.track.data.vo.user.SearchUsersVo">
        select distinct uu.id,uu.create_time,uu.user_type,uu.sex,uu.username,uu.`enabled`,uu.phone,uu.nick_name,uu.photo
        from um_user uu
        left JOIN sys_role_user sru on sru.del_flag = 0 and uu.id = sru.user_id
        left join sys_role sr on sru.role_id = sr.id and sr.del_flag = 0
        where uu.del_flag	= 0 and uu.user_type != 3
            <if test="phone != null and phone != ''">
                and uu.phone like concat('%', #{phone} ,'%')
            </if>
            <if test="username != null and username != ''">
                and uu.username like concat('%', #{username} ,'%')
            </if>
            <if test="roleName != null and roleName != ''">
                and sr.name = #{roleName}
            </if>
            <if test="enabled != null">
                and uu.enabled = #{enabled}
            </if>
            <if test="userType != null and userType != ''">
                and uu.user_type = #{userType}
            </if>
    </select>

</mapper>
