<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.order.OmFeedBackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.order.OmFeedBackPo">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="content" property="content" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by, create_time, update_by, update_time, content, state
    </sql>

    <select id="searchFeedBack" resultType="com.track.data.vo.manage.feedBack.SearchFeedBackVo">
        select ofb.id,uu.nick_name,ofb.content,ofb.create_time as feed_back_time,ofb.state,uuu.username as deal_people,
               ofb.update_time as deal_time
        from om_feed_back ofb
        inner join um_user uu on ofb.create_by = uu.id
        left join um_user uuu on ofb.update_by = uuu.id and uuu.del_flag = 0
        where uu.del_flag = 0
        <if test="state != null">
            and ofb.state = #{state}
        </if>
        <if test="keyWord != null and keyWord != '' ">
            and ofb.content like concat('%', #{keyword} ,'%')
        </if>
        <if test="startTime != null">
            and DATE_FORMAT(ofb.create_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and DATE_FORMAT(ofb.create_time,'%Y-%m-%d') &lt;= #{endTime}
        </if>
        order by ofb.create_time DESC
    </select>

</mapper>
