<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.order.OmOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.order.OmOrderPo">
        <id column="id" property="id" />
        <result column="pay_order_no" property="payOrderNo" />
        <result column="pre_pay_id" property="prePayId" />
        <result column="user_ip" property="userIp" />
        <result column="error_code" property="errorCode" />
        <result column="error_msg" property="errorMsg" />
        <result column="pay_amount" property="payAmount" />
        <result column="expire_time" property="expireTime" />
        <result column="state" property="state" />
        <result column="ship_name" property="shipName" />
        <result column="ship_phone" property="shipPhone" />
        <result column="remark" property="remark" />
        <result column="um_user_id" property="umUserId" />
        <result column="pay_time" property="payTime" />
        <result column="refund_time" property="refundTime" />
        <result column="close_time" property="closeTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pay_order_no, pre_pay_id, user_ip, error_code, error_msg, pay_amount, expire_time, state, ship_name, ship_phone, remark, um_user_id, pay_time, start_time, close_time, create_time, update_time
    </sql>
    <update id="updateOrderByScene">
        UPDATE om_order oo
        INNER JOIN om_ticket_temp ott
        ON ott.order_id = oo.id AND ott.scene_id = #{omTicketSceneId}
        SET oo.update_time = NOW(), oo.state = 4
    </update>

    <select id="isOrderByTicketId" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT oo.`id`
            FROM om_order oo
            INNER JOIN om_ticket_temp ott ON ott.order_id = oo.id
            WHERE ott.ticket_id = 1 AND (oo.state = 3 OR oo.state = 4)
        ) AS temp
    </select>


    <resultMap id="manageOrderListVo" type="com.track.data.vo.manage.order.ManageOrderListVo">
        <id column="orderId" property="orderId" />
        <result column="ticket_no" property="ticketNo" />
        <result column="scene_id" property="sceneId" />
        <result column="scene_name" property="sceneName" />
        <result column="nick_name" property="nickName" />
        <result column="order_num" property="orderNum" />
        <result column="seatStr" property="seatStr" />
        <result column="pay_amount" property="payAmount" />
        <result column="phone" property="phone" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
        <result column="update_time" property="updateTime" />
        <result column="refund_time" property="refundTime" />
        <result column="orderState" property="orderState" />
        <collection property="orderTempVo" ofType="com.track.data.vo.manage.order.OrderTempVo">
            <result column="ticketNo1" property="ticketNo" />
            <result column="addr_detail" property="addrDetail" />
            <result column="ticket_name" property="ticketName" />
            <result column="grade_name" property="gradeName" />
            <result column="orderNum1" property="orderNum" />
            <result column="sell_price" property="sellPrice" />
            <result column="payAmount1" property="payAmount" />
        </collection>
    </resultMap>
    <select id="searchOrderList" resultMap="manageOrderListVo">
        SELECT oo.id AS orderId,
            oo.ticket_no,
            ott.scene_id,
            ott.scene_name,
            uu.nick_name,
            ott.order_num,
            GROUP_CONCAT(oors.seat_str) as seatStr,
            oo.pay_amount,
            uu.phone,
            oo.create_time,
            oo.pay_time,
            oo.update_time,
            oo.refund_time,
            oo.state AS orderState,
            oo.ticket_no AS ticketNo1,
            ott.addr_detail,
            ott.ticket_name,
            ott.grade_name,
            ott.order_num AS orderNum1,
            ott.sell_price,
            oo.pay_amount AS payAmount1
        FROM om_order oo
        INNER JOIN om_ticket_temp ott ON ott.order_id = oo.id
        INNER JOIN um_user uu ON uu.id = oo.um_user_id
        INNER JOIN om_order_rel_seat oors ON oo.id = oors.order_id
        <where>
            <if test="orderId != null and orderId != 0">
                and oo.id = #{orderId}
            </if>
            <if test="orderState != null and orderState != 0">
                and oo.state = #{orderState}
            </if>
            <if test="sceneId != null and sceneId != 0">
                and ott.scene_id = #{sceneId}
            </if>
            <if test="phone != null and phone != ''">
                and uu.phone = #{phone}
            </if>
            <if test="startDate != null">
                and DATE_FORMAT(oo.create_time,'%Y-%m-%d')  <![CDATA[>= ]]> = #{startDate}
            </if>
            <if test="endDate != null">
                and DATE_FORMAT(oo.create_time,'%Y-%m-%d')  <![CDATA[<= ]]> = #{endDate}
            </if>
        </where>
        GROUP BY oo.id  ,ott.id
        ORDER BY create_time DESC
    </select>
    <select id="settlement" resultType="com.track.data.vo.applet.order.OrderSettlementVo">
        SELECT osrg.ticket_id,
            osrg.id as relId,
            osrg.scene_id,
            osrg.grade_id,
            ot.`name`,
            ot.`picture`,
            ots.`name` AS sceneName,
            ots.`start_time`,
            otg.`name` AS gradeName,
            otg.`sell_price`,
            osrg.remaining_sum
        FROM om_scene_rel_grade osrg
        INNER JOIN om_ticket ot ON ot.id = osrg.ticket_id
        AND osrg.id = #{relId}
        INNER JOIN om_ticket_scene ots ON ots.`id` = osrg.scene_id
        INNER JOIN om_ticket_grade otg ON otg.`id` = osrg.grade_id
    </select>
    <select id="searchMyOrder" resultType="com.track.data.vo.applet.order.MyOrderListVo">
        SELECT oo.id as orderId,
            oo.state AS orderState,
            oo.pay_amount,
            ott.ticket_name,
            ott.start_time,
            ott.scene_name,
            ott.grade_name,
            ott.order_num,
            ot.`addr_detail`
        FROM om_order oo
        INNER JOIN om_ticket_temp ott ON ott.order_id = oo.id
        INNER JOIN om_ticket ot ON ot.id = ott.ticket_id
        <where>
            oo.del_flag = 0
            <if test="userId != null and userId != 0">
                and oo.um_user_id = #{userId}
            </if>
            <if test="orderState == 2 ">
                and oo.state = 1
            </if>
            <if test="orderState == 3 ">
                and oo.state = 3
            </if>
            <if test="orderState == 4 ">
                and oo.state = 4
            </if>
        </where>
    </select>

    <resultMap id="myOrderDetailVo" type="com.track.data.vo.applet.order.MyOrderDetailVo">
        <id column="orderId" property="orderId" />
        <result column="ticket_no" property="ticketNo" />
        <result column="scene_name" property="sceneName" />
        <result column="start_time" property="startTime" />
        <result column="addr_detail" property="addrDetail" />
        <result column="grade_name" property="gradeName" />
        <result column="nick_name" property="nickName" />
        <result column="order_num" property="orderNum" />
        <result column="picture" property="picture" />
        <result column="ticket_name" property="name" />
        <result column="pay_amount" property="payAmount" />
        <result column="phone" property="phone" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
        <result column="refund_time" property="refundTime" />
        <result column="expireTime" property="expireTime" />
        <result column="orderState" property="orderState" />
        <collection property="seatStrList" ofType="java.lang.String">
            <result column="seat_str" />
        </collection>
    </resultMap>
    <select id="getOrderDetail" resultMap="myOrderDetailVo">
        SELECT oo.state AS orderState,
            uu.phone,
            uu.nick_name,
            oo.ticket_no,
            ott.order_num,
            ott.`picture`,
            ott.`ticket_name`,
            ott.start_time,
            ott.scene_name,
            ott.`addr_detail`,
            ott.grade_name,
            oo.pay_amount,
            oo.id AS orderId,
            oo.create_time,
            oo.pay_time,
            oo.refund_time,
            (CASE WHEN oo.state = 1 THEN oo.expire_time ELSE NULL END) as expireTime,
            oors.seat_str
        FROM om_order oo
        INNER JOIN um_user uu ON oo.um_user_id = uu.id AND oo.id = #{orderId}
        INNER JOIN om_ticket_temp ott ON ott.order_id = oo.id
        LEFT JOIN om_order_rel_seat oors ON oo.id = oors.order_id
        ORDER BY oors.id ASC
    </select>

</mapper>
