<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.order.OmTicketDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.order.OmTicketDetailPo">
        <id column="id" property="id" />
        <result column="purchase_text" property="purchaseText" />
        <result column="purchase_html" property="purchaseHtml" />
        <result column="detail_text" property="detailText" />
        <result column="detail_html" property="detailHtml" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, purchase_text, purchase_html, detail_text, detail_html
    </sql>

</mapper>
