<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.order.OmTicketTempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.order.OmTicketTempPo">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="sell_price" property="sellPrice" />
        <result column="order_num" property="orderNum" />
        <result column="picture" property="picture" />
        <result column="ticket_id" property="ticketId" />
        <result column="ticket_name" property="ticketName" />
        <result column="scene_id" property="sceneId" />
        <result column="scene_name" property="sceneName" />
        <result column="grade_id" property="gradeId" />
        <result column="grade_name" property="gradeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, sell_price, order_num, picture, ticket_id, ticket_name, scene_id, scene_name, grade_id, grade_name
    </sql>
    <select id="getTempByOrder" resultType="com.track.data.domain.po.order.OmTicketTempPo">
        SELECT otg.sell_price,
            ot.picture,
            ot.`id` AS ticketId,
            ot.name AS ticketName,
            ot.addr_detail,
            ots.`id` AS sceneId,
            ots.`name` AS sceneName,
            ots.`start_time`,
            otg.id AS gradeId,
            otg.`name` AS gradeName,
            osrg.id AS relId,
            ot.longitude,
            ot.latitude
        FROM om_scene_rel_grade osrg
        INNER JOIN om_ticket ot ON ot.id = osrg.ticket_id AND osrg.id = #{relId}
        INNER JOIN om_ticket_scene ots ON osrg.scene_id  = ots.id
        INNER JOIN om_ticket_grade otg ON osrg.`grade_id` = otg.id
    </select>

</mapper>
