<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.track.data.mapper.order.OmTicketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.track.data.domain.po.order.OmTicketPo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="addr_id" property="addrId" />
        <result column="addr_name" property="addrName" />
        <result column="addr_detail" property="addrDetail" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="sort" property="sort" />
        <result column="publish_state" property="publishState" />
        <result column="picture" property="picture" />
        <result column="sales_volume" property="salesVolume" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, addr_id, addr_name, addr_detail, longitude, latitude, sort, publish_state, picture, sales_volume, create_by, create_time, update_by, update_time
    </sql>

</mapper>
